

<form [formGroup]="keyboardForm" style="display: flex; flex-direction: column; padding: 5px; flex-wrap: wrap;">
  <div style="flex:1; display: flex; flex-direction: row">
    <mat-form-field style="width: 200px;" >
      <mat-label>Keyboard</mat-label>
      <mat-select formControlName="keyboard">
        <mat-option *ngFor="let keyboard of keyboards | keyvalue" [value]="keyboard.key">
          {{keyboard.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Lesson</mat-label>
      <mat-select formControlName="lesson">
        <mat-optgroup *ngFor="let group of hs.lessons(keyboardForm.get('keyboard').value)" [label]="group.group" [disabled]="group.disabled">
          <mat-option *ngFor="let lesson of group.exercises" [value]="lesson.name">
            {{lesson.name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>

  <div style="flex:1; display: flex; flex-direction: row">
    <mat-form-field style="flex:1" >
      <input disabled #passed matInput style="text-align: end; color: white; background: #AAA;">
    </mat-form-field>
  
      <mat-form-field style="flex:1">
        <input  autocomplete="off" matInput #exercise formControlName="text" (keypress)="keyPress($event)">
      </mat-form-field>
  </div>

</form>

<div *ngIf="keyboards[keyboardForm.get('keyboard').value]">
  <div  *ngFor="let row of keyboards[keyboardForm.get('keyboard').value].keys" style="margin: 5px; display: flex; justify-content: space-around;">
    <!--button *ngFor="let key of row" mat-stroked-button>{{key}}</button-->
    <button class="keyboard_button" *ngFor="let key of row" mat-raised-button [style.flex]="key.flex" style="margin: 3px;">{{key.glyph}}</button>
  </div>
</div>






